<%= render partial: 'shared/view_title', locals: { view_title: 'Time Registration' } %>
<div class="d-flex flex-column gap-2">
  <div>
    <turbo-frame id="stopwatch-div">
      <div id="stopwatch" class="text-center fs-1 clock-text">00:00:00.000</div>
    </turbo-frame>
  </div>
  <div>
    <turbo-frame id="stopwatch-form">
      <%= form_with url: races_save_time_path, data: { controller: 'races' } do |f| %>
        <%= f.hidden_field :race_id, value: @race.id %>
        <div class="row">
          <div class="col-6 d-flex">
            <%= f.submit("Start", data: { action: 'click->races#start' , }, class: 'btn btn-success flex-fill' ,
                  id: 'btn-start' ) %>
          </div>
          <div class="col-6 d-flex">
            <%= f.submit("End", data: { action: 'click->races#end' , }, class: 'btn btn-danger flex-fill' , disabled:
                  true, id: 'btn-stop' ) %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 d-flex">
            <%= f.submit("Check", data: { action: 'click->races#setcheck' , }, class: 'btn btn-secondary flex-fill' ,
                    disabled: true, id: 'btn-check' ) %>
          </div>
          <div class="col-6 d-flex">
            <%= f.submit("Stroke", data: { action: 'click->races#setarm' , }, class: 'btn btn-secondary flex-fill' ,
                    disabled: true, id: 'btn-arm' ) %>
          </div>
        </div>
      <% end %>
    </turbo-frame>
  </div>
  <div>
    <turbo-frame id="times-list">
      <%= render partial: 'races/checkpoints_list', locals: { race: @race } %>
    </turbo-frame>
  </div>
</div>
