<%= form_with(model: proof) do |form| %>
  <% if proof.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(proof.errors.count, "error") %> prohibited this proof from being saved:</h2>

      <ul>
        <% proof.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :style, style: "display: block" %>
    <%= form.number_field :style %>
  </div>

  <div>
    <%= form.label :distance, style: "display: block" %>
    <%= form.number_field :distance %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
